*.png
.env
*.ttf
*.otf
/screenshots
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
*.log
requirements-original.txt

# Test files
app_test.py
test_accessibility.py

# Temporary files
tmp/