@font-face {
    font-family: 'Aptos Display';
    src: url('./fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('./fonts/Rubik-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #30343F; /* Darker background */
    color: #FFD9DA; /* Light text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 90%; /* Match the width of the container */

}

h1 {
    font-family: 'Aptos Display', sans-serif;
    font-size: 6vw; /* Scale font size relative to viewport width */
    margin: 0;
    color: #FFD9DA; /* Light color for header text */
}

.date-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Add space between weekday and date */
}

.weekday, .date {
    font-family: 'Aptos Display', sans-serif;
    font-size: 2vw; /* Ensure consistent font size */
    color: #FFD9DA; /* Light text color */
    text-shadow: 1px 1px 2px #1B2021; /* Add shadow to text */
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%; /* Match the width of the header */
    margin: 0 auto; /* Center the container */
    justify-content: center;
}
.menu {
    background-color: #EA638C ; /* Menu pink */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center text under each restaurant */
    color: #1B2021; /* Text dark */
    justify-content: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; /* Use viewport height for scaling */
    margin-bottom: 20px;
}

.logo {
    max-height: 100%; /* Ensure the logo fits within the container */
    max-width: 100%; /* Ensure the logo maintains its aspect ratio */
}

h2 {
    font-family: 'Aptos', sans-serif;
    font-size: 4vw; /* Scale font size relative to viewport width */
    margin: 0;
    color: #1B2021; /* Text dark */
}

.restaurant-name {
    font-family: 'Aptos Display', sans-serif;
    font-size: 4vw; /* Larger font size for restaurant name */
    color: #FFD9DA;
}

.company-name {
    font-family: 'Aptos', sans-serif;
    font-size: 2.5vw; /* Smaller font size for company name */
    padding-bottom: 10px;
    color: #FFD9DA;
}

body {
    background-color: #30343F; /* Background grey */
    color: #FFD9DA; /* Text light */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

.mealrow {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'Aptos', sans-serif;
    font-size: 3vw; /* Scale font size relative to viewport width */
    color: #1B2021; /* Text dark */
    position: relative; /* Ensure the pseudo-element is positioned correctly */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    text-align: center; /* Center the text */
}

.mealrow:not(:last-child)::after {
    content: '';
    display: block;
    width: 10%; /* Adjust the width to make the line shorter */
    height: 3px; /* Height of the line */
    background-color: #89023E; /* Mealrow line red */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.mealrow p {
    margin: 0;
    line-height: 2.2;
}
/* Media query for wider screens */
@media (min-width: 1024px) {
    h1 {
        font-size: 48px; /* Fixed font size for larger screens */
    }

    .weekday {
        font-size: 24px; /* Fixed font size for larger screens */
    }

    h2 {
        font-size: 32px; /* Fixed font size for larger screens */
    }

    .restaurant-name {
        font-size: 32px; /* Fixed font size for larger screens */
    }

    .company-name {
        font-size: 20px; /* Fixed font size for larger screens */
    }

    .mealrow {
        font-size: 24px; /* Fixed font size for larger screens */
    }
}

/* Media query for aspect ratio */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        width: 90%;
    }
}

/* Styles for the cookies note */
.cookies-note {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px 10px 0 0;
}

.cookies-button {
    background-color: #100108; /* Match the theme color */
    color: #1B2021; /* Dark text color */
    border: 2px solid #FFD9DA; /* Dark border color */
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.cookies-button:hover {
    background-color: #1B2021; /* Dark background on hover */
    color: #FFD9DA; /* Light text color on hover */
}